<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdzc.springboot01.mapper.DeptMapper">
    <resultMap id="deptMap" type="com.fdzc.springboot01.vo.DeptVo">
        <id column="deptId" property="id"/>
        <result column="dept_name" property="deptName"/>
        <result column="description" property="description"/>
        <result column="address" property="address"/>
        <collection property="users" ofType="com.fdzc.springboot01.entity.User">
            <result column="userId" property="id"/>
            <result column="user_name" property="userName"/>
            <result column="password" property="password"/>
            <result column="gender" property="gender"/>
            <result column="birthday" property="birthday"/>
            <result column="deptId" property="deptId"/>
        </collection>
    </resultMap>
    <select id="selectDeptUsers" resultMap="deptMap">
        select
            d.id deptId,
            dept_name,
            description,
            address,
            u.id userId,
            user_name,
            password,
            gender,
            birthday
        from
            department d
                left join
            user u
            on
                d.id = u.dept_id
        where
            d.id=#{id}
    </select>

    <select id="selectAll" resultType="com.fdzc.springboot01.entity.Dept">
        select * from department
    </select>

    <select id="selectById" resultType="com.fdzc.springboot01.entity.Dept">
        select * from department where id=#{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into department(dept_name,description,address)
        values(#{deptName},#{description},#{address})
    </insert>

    <update id="update">
        update
            department
        set
            dept_name=#{deptName},
            description=#{description},
            address=#{address}
        where
            id=#{id}
    </update>

    <delete id="delete">
        delete from department where id=#{id}
    </delete>
</mapper>