<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdzc.springboot01.mapper.TaskMapper">
    <select id="selectAllTask" resultType="com.fdzc.springboot01.entity.Task">
        select * from task
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="description != null and description != ''">
                and description like concat('%',#{description},'%')
            </if>
        </where>
    </select>

    <select id="selectHotTask" resultType="com.fdzc.springboot01.entity.vo.HotTaskVo">
        select
            name,
            image,
            count(u.user_id) num
        from
            task t
                left join
            user_task u
            on
                t.id = u.task_id
        group by
            t.id
        order by
            count(u.user_id) desc
        limit
            #{num}
    </select>
</mapper>