<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdzc.springboot01.mapper.UserTaskMapper">
    <select id="selectAllUserTask" resultType="com.fdzc.springboot01.entity.UserTask">
        select * from user_task
        <where>
            completed_time is null
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="taskId != null and taskId != ''">
                and task_id = #{taskId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
        </where>
        order by
            id desc
    </select>
    <select id="selectUserTasks" resultType="com.fdzc.springboot01.entity.vo.TaskVo">
        select
            u.id id,
            t.id taskId,
            name,
            description,
            t.image image,
            carbon,
            point,
            status
        from
            user_task u
                left join
            task t
            on
                u.task_id = t.id
        where
            u.user_id = #{id}
    </select>
</mapper>