<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdzc.springboot01.mapper.UserGroupMapper">
    <select id="selectGroupUser" resultType="com.fdzc.springboot01.common.vo.GroupUserVo">
        select
            u.id id,
            name,
            tel,
            count(c.id) num
        from
            user_group g
                left join
            user u
            on
                u.id = g.user_id
                left join
            chat c
            on
                u.id = c.user_id
        where
            g.group_id = #{id}
        group by
            u.id
    </select>
</mapper>